__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

checkpoints/**
!checkpoints/.gitkeep
results/
logs/

andromeda/logs/*
!andromeda/logs/.gitkeep
andromeda/checkpoints/*
!andromeda/checkpoints/.gitkeep

.DS_Store
